$bg-color: #f6f9ff;

// fonts
$font-sfui-display-regular: 'SFUI Display Regular';
$font-sf-ui-text-regular: 'SFUI Text Regular';
$font-sfui-text-light: 'SFUI Text Light';
$font-sf-ui-text-bold: 'SFUI Text Bold';
$font-intro-regular: 'Intro Regular';
