.cards-block {
    &__fluid {
        background-image: linear-gradient(-213deg, #ac628f 0%, #d68167 100%);
        padding: 30px 0 50px 0;
    }

    &_theme-white {
        .cards-block__description {
            color: #fff;
        }

        .cards-block__title {
            border-right: 1px solid #ffffff8c;
            color: #fff;
        }
    }

    &__stroke {
        @include row-flex();

        &_top-margin {
            margin-top: 30px;
        }

        &_bottom-margin {
            margin-bottom: 15px;
        }
    }

    &__cell-vertical {
        @include col();
        @include size-md(6);
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__title {
        @include col();
        font: {
            family: $font-als-schlange;
            size: 30px;
        }
        padding: 10px 25px 10px 0;
    }

    &__description {
        @include col();
        @include size-md(16);
        font-family: $font-sf-ui-text-regular;
        padding: 10px 0 10px 12px;
    }
}
