.cards-block {
    &__fluid {
        background-image: linear-gradient(-213deg, #ac628f 0%, #d68167 100%);
        padding: 30px 0 50px 0;
    }

    &_theme-white {
        .cards-block__description {
            color: #fff;
        }

        .cards-block__title {
            border-right: 1px solid #ffffff8c;
            color: #fff;

            &-border-none {
                border-right: 1px solid transparent;
            }
        }
    }

    &__stroke {
        @include row-flex();

        &_top-margin {
            margin-top: 30px;
        }

        &_bottom-margin {
            margin-bottom: 15px;
        }

        &_large-bottom-margin {
            margin-bottom: 50px;
        }
    }

    &__cell-vertical {
        @include col();
        @include size-md(6);
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .square-card-news-small-size {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    &__header {
        @include col();
        @include size-xl(24);
        display: flex;
        margin-bottom: 30px;

        &_element-right {
            margin-left: auto;
        }

        &_border-top {
            border-top: 1px solid #e1ebff;
            padding-top: 40px;
            margin-top: 50px;
        }
    }

    &__title {
        font: {
            family: $font-als-schlange;
            size: 30px;
        }
        padding: 10px 25px 10px 0;
    }

    &__description {
        max-width: 600px;
        font-family: $font-sf-ui-text-regular;
        padding: 10px 0 10px 25px;
    }

    &__navigation {
        justify-content: flex-end;
        align-items: center;
    }

    &__categories {
        align-items: center;
    }

    &__categories-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__navigation-item {
        margin-right: 41px;
        position: relative;

        &:after {
            content: '';
            background-color: #cbdfff;
            width: 1px;
            height: 26px;
            display: block;
            position: absolute;
            bottom: 0;
            right: -20px;
            top: -4px;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                display: none;
            }
        }
    }

    &__link {
        font: {
            family: $font-sf-ui-text-regular;
            size: 15px;
        }
        display: flex;
        align-items: center;
        color: #769fe2;
    }

    &__icon {
        width: 16px;
        height: 16px;
        object-fit: cover;
        margin-right: 8px;
    }
}
