.cards-block {
    &__stroke {
        @include row-flex();
        margin-top: 10px;
    }

    &__cell-vertical {
        @include col();
        @include size-md(6);
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
