.category {
    border-radius: 3px;
    background-color: #fff4f0;
    align-self: center;
    font: {
        family: $font-sfui-display-light;
        size: 12px;
    }
    color: #e3935e;
    padding: 6px 14px;
}
