.news-card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 12px 10px;

    &__statistics {
        width: 105px;
        max-width: 105px;
        display: flex;
        justify-content: space-between;
    }

    &__date {
        align-self: center;
    }
}
