.header {
    @include row-flex();
    align-items: center;

    &__content {
        @include col();
        @include size-md(24);
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font: {
            size: 30px;
            family: $font-intro-regular;
        }
        text-align: center;
        padding: 15px 0 20px;
    }

    &__button-search {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0;
    }

    &__button-search-icon {
        width: 16px;
        height: 16px;
    }

    &__button {
        margin-right: 20px;
    }

    &__chart {
        @extend %col-center;
    }

    &__form {
        @extend %col-center;
    }

    &__search {
        @extend %col-center;
    }

    &_content-center {
        justify-content: center;
    }
}
