<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Главные новости о Израиле</title>
    <meta content="#fff" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="img/favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="img/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="img/favicons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
    <link href="img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="img/favicons/apple-touch-icon-1024x1024.png" rel="apple-touch-icon" sizes="1024x1024">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
<div class="bg-layout">
    <div class="container-full theme-bg-white">
        <div class="container">
            @@include("../blocks/modules/header/header.html")
            @@include("../blocks/modules/navigation/navigation.html")
        </div>
    </div>
    @@include("../blocks/modules/horizontal-banner/horizontal-banner.html")
    <div class="container">
        <div class="cards-block">
            <div class="cards-block__stroke">
                @@include("../blocks/modules/last-news/last-news.html")
                @@include("../blocks/modules/special-project/special-project.html")
                <div class="cards-block__cell-vertical">
                    <div class="square-card-news square-card-news-small-size">
                        <a class="square-card-news__link" href="#"></a>
                        <img alt="news" class="square-card-news__image"
                             src="./img/news-preview/news-pickture-01.png">
                        <div class="square-card-news__content">
                            <a class="category category_theme_blue square-card-news__category">путешествия</a>
                            <div class="title-small square-card-news__title">
                                <span class="date">4 часа назад</span>
                                Пасса жир поблагодарил пилотов, отказавшихся сажать самолет в Ростове
                            </div>
                        </div>
                    </div>
                    <div class="square-card-news square-card-news-small-size">
                        <a class="square-card-news__link" href="#"></a>
                        <img alt="news" class="square-card-news__image"
                             src="./img/news-preview/news-pickture-02.png">
                        <div class="square-card-news__content">
                            <a class="category category_theme_blue square-card-news__category">деньги</a>
                            <div class="title-small square-card-news__title">
                                <span class="date">7 часов назад</span>
                                Будет ли казино в городе Эйлате?
                            </div>
                        </div>
                    </div>
                </div>
                @@include("../blocks/modules/advertising/advertising.html")
            </div>
        </div>
        <div class="cards-block">
            <div class="cards-block__stroke">
                @@include("../blocks/modules/rectangular-news-card/rectangular-news-card.html")
                @@include("../blocks/modules/square-card-news/square-card-news.html")
                <div class="special-project special-project_theme-blue">
                    <div class="special-project__picture-block">
                        <div class="special-project__icon-block">
                            <img alt="flag" class="special-project__icon" src="./img/sprites/sprite.svg#light-bulb">
                        </div>
                        <!--suppress HtmlUnknownTarget -->
                        <img alt="news" class="special-project__picture"
                             src="./img/news-preview/special-project_01.png">
                    </div>
                    <a class="category category_theme_white special-project__category" href="#">лайфхак жителю</a>
                    <a class="title-middle special-project__title-middle" href="#">
                        Как подтвердить <span class="title-middle__bold">водительские права в Израиле?</span>
                    </a>
                    <div class="date special-project__date">4 часа назад</div>
                </div>
            </div>
        </div>
        <div class="cards-block">
            <div class="cards-block__stroke">
                <div class="square-card-news square-card-news-average-size">
                    <a class="square-card-news__link" href="#"></a>
                    <img alt="news" class="square-card-news__image"
                         src="./img/news-preview/news-pickture-05.png">
                    <div class="square-card-news__content">
                        <a class="category category_theme_blue square-card-news__category">политика</a>
                        <div class="title-small square-card-news__title">
                            <span class="date">7 часов назад</span>
                            Дональд Трамп — это… С кем сравнивают лидера республиканской гонки
                        </div>
                    </div>
                </div>
                <div class="cards-block__cell-vertical">
                    <div class="square-card-news square-card-news-small-size square-card-news-without-image">
                        <a class="square-card-news__link" href="#"></a>
                        <div class="square-card-news__content">
                            <a class="category category_theme_blue square-card-news__category">в городе</a>
                            <div class="title-small square-card-news__title">
                                <span class="date square-card-news__date">7 часов назад</span>
                                Новости для студентов <span
                                    class="title-small__bold">в Хайфе — проект «Нехедар бе Адар»</span>
                            </div>
                            <div class="news-card-footer square-card-news__footer">
                                <div class="date news-card-footer__date">4 часа назад</div>
                                <div class="news-card-footer__statistics">
                                    <div class="icon-block">
                                        <img alt="file" class="icon-block__icon"
                                             src="./img/sprites/sprite.svg#comment"> 45
                                    </div>
                                    <div class="icon-block">
                                        <img alt="file" class="icon-block__icon"
                                             src="./img/sprites/sprite.svg#eye"> 13
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rectangular-news-card">
                    <div class="rectangular-news-card__image-block">
                        <div class="category category_theme_blue rectangular-news-card__category">архитектура</div>
                        <!--suppress HtmlUnknownTarget -->
                        <img alt="news" class="rectangular-news-card__image"
                             src="./img/news-preview/news-pickture-07.png">
                    </div>
                    <div class="title-middle rectangular-news-card__title">
                        <a href="#">
                            <span class="title-middle__bold">Квартира в старом доме</span> с классической мебелью
                            и плиткой азулежу
                        </a>
                    </div>
                    <div class="rectangular-news-card__description">
                        Евгений, хозяин квартиры, живёт в ней с 2008 года. Два года назад он понял, что пришло время
                        ремонта: кроме обновления интерьера, стояли и важные инфраструктурные задачи.
                    </div>
                    <div class="news-card-footer rectangular-news-card__footer">
                        <div class="news-card-footer__statistics">
                            <div class="icon-block">
                                <img alt="file" class="icon-block__icon" src="./img/sprites/sprite.svg#comment"> 45
                            </div>
                            <div class="icon-block">
                                <img alt="file" class="icon-block__icon" src="./img/sprites/sprite.svg#eye"> 13
                            </div>
                        </div>
                        <div class="date news-card-footer__date">4 часа назад</div>
                    </div>
                </div>
                <div class="rectangular-news-card">
                    <div class="rectangular-news-card__image-block">
                        <div class="category category_theme_blue rectangular-news-card__category">инновации</div>
                        <!--suppress HtmlUnknownTarget -->
                        <img alt="news" class="rectangular-news-card__image"
                             src="./img/news-preview/news-pickture-08.png">
                    </div>
                    <div class="title-middle rectangular-news-card__title">
                        <a href="#">
                            <span class="title-middle__bold">Страх перед слежкой</span> и технологии eSIM
                        </a>
                    </div>
                    <div class="rectangular-news-card__description">
                        Стандартные Mini и Micro-sim выполняют функции уникального идентификатора,
                        позволяющего абоненту регистрироваться в сетях оператора.
                    </div>
                    <div class="news-card-footer rectangular-news-card__footer">
                        <div class="news-card-footer__statistics">
                            <div class="icon-block">
                                <img alt="file" class="icon-block__icon" src="./img/sprites/sprite.svg#comment"> 45
                            </div>
                            <div class="icon-block">
                                <img alt="file" class="icon-block__icon" src="./img/sprites/sprite.svg#eye"> 13
                            </div>
                        </div>
                        <div class="date news-card-footer__date">4 часа назад</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<!--        <script src="js/vendor.js"></script>-->
</body>
</html>
