<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Главные новости о Израиле</title>
    <meta content="#fff" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="img/favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="img/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="img/favicons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
    <link href="img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="img/favicons/apple-touch-icon-1024x1024.png" rel="apple-touch-icon" sizes="1024x1024">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
<div class="bg-layout">
    <div class="container-full theme-bg-white">
        <div class="container">
            @@include("../blocks/modules/header/header.html")
            @@include("../blocks/modules/navigation/navigation.html")
        </div>
    </div>
    @@include("../blocks/modules/horizontal-banner/horizontal-banner.html")
    <div class="container">
        <div class="cards-block">
            <div class="cards-block__stroke">
                @@include("../blocks/modules/last-news/last-news.html")
                @@include("../blocks/modules/special-project/special-project.html")
                <div class="cards-block__cell-vertical">
                    <div class="little-card-news">
                        <!--suppress HtmlUnknownTarget -->
                        <img alt="news" class="little-card-news__images" src="./img/news-preview/news-pickture-01.png">
                        <div class="little-card-news__content">
                            <a class="category category_theme_blue" href="#">путешествия</a>
                            <a class="title-small little-card-news__title" href="#">
                                <span class="date">4 часа назад</span>
                                Пасса жир поблагодарил пилотов, отказавшихся сажать самолет в Ростове
                            </a>
                        </div>
                    </div>
                    <div class="little-card-news">
                        <!--suppress HtmlUnknownTarget -->
                        <img alt="news" class="little-card-news__images" src="./img/news-preview/news-pickture-02.png">
                        <div class="little-card-news__content">
                            <a class="category category_theme_blue" href="#">деньги</a>
                            <a class="title-small little-card-news__title" href="#">
                                <span class="date">7 часов назад</span>
                                Будет ли казино в городе Эйлате?
                            </a>
                        </div>
                    </div>
                </div>
                @@include("../blocks/modules/advertising/advertising.html")
            </div>
        </div>
    </div>
</div>
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<!--        <script src="js/vendor.js"></script>-->
</body>
</html>
