.square-card-news {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-image: linear-gradient(-210deg, #7eaaee 0%, #7eaaee 58%, #8cc4f4 100%);

    &-large-size {
        @include col();
        @include size-md(12);

        .square-card-news__title {
            font-size: 25px;
        }
    }

    &-small-size {
        @include col();
        @include size-md(6);
        align-self: flex-start;
        width: 100%;
        height: 270px;
        max-height: 270px;
    }

    &-average-size {
        @include col();
        @include size-md(6);
    }

    &-without-image {
        background-color: #fff;
        background-image: none;
        color: #000;

        .square-card-news__title, .square-card-news__footer {
            color: #000;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px 15px 20px 15px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__title {
        color: #fff;
        margin-top: auto;
    }

    &__category {
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 15px;
    }

    &__link {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__footer {
        align-self: flex-end;
        width: 100%;
        color: #fff;
        margin-top: 30px;
    }
}
