.special-project {
    @include col();
    @include size-md(6);
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 5px 20px 5px;

    &_theme-blue {
        background-image: linear-gradient(-210deg, #7eaaee 0%, #7eaaee 58%, #8cc4f4 100%);

        .special-project__icon-block {
            border-color: #7eaaee;
            background-color: #fff;
        }

        .special-project__title-middle {
            color: #fff;
        }

        .date {
            color: #fff;
        }
    }

    &__picture {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: none;
        align-self: center;
    }

    &__title-middle {
        text-align: center;
    }

    &__picture-block {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__icon-block {
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #e3935e;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 39px;
        top: 0;
    }

    &__icon {
        width: 18px;
        height: 26px;
    }

    &__date {
        align-self: center;
        margin-top: auto;
    }

    &__category {
        align-self: center;
        margin: 30px 0 20px;
    }
}
