.button {
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #eef5ff;
    font: {
        family: $font-sf-ui-text-regular;
        size: 15px;
    }
    outline: none;
    cursor: pointer;
    color: #6e9fe9;
    display: block;
    padding: 5px 18px;

    &-link {
        background-color: transparent;
        padding: 5px 0 5px 0;
    }

    &-select {
        background-color: transparent;
        color: #000;
        padding: 5px 22px 5px 22px;
    }

    &-arrow-down {
        //noinspection CssUnknownTarget
        background: transparent url('../img/sprites/sprite.svg#arrow') no-repeat right center;
        background-size: contain;
    }
}
